
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

@font-face {
	font-family: "Avenir";
	src: url("fonts/avenir/avenir_roman-webfont.woff") format("woff")
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}
.head-bar
{
	height: 45px;
	width: 300px;
	color: white;
	background-color: #1569C7;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

h1{
	font-size: 30px;
}

.goal{
	position:relative;
	top: 50px;
	left: -30px;
	text-align: center;
}

.stime{
	position:relative;
	top: 100px;
	left: -30px;
	text-align: center;
}

.etime{
	position:relative;
	top: 150px;
	left: -33.5px;
	text-align: center;
}

.duration{
	position:relative;
	top: 200px;
	left: -34px;
	text-align: center;
}

.category{
	position:relative;
	top: 250px;
	left: -25px;
	text-align: center;
}

.icon1
{
	position: relative;
	top: 325px;
	left: 2px;
	height: 50px;
	width:147.5px;
	border: 1px solid white;
	background-color: #1569C7;
	color: white;
	text-align: center;
	cursor: pointer;
}

.icon2
{
	position: relative;
	top: 259px;
	left: 150px;
	height: 50px;
	width:147.5px;
	border: 1px solid white;
	background-color: #1569C7;
	color: white;
	text-align: center;
	cursor: pointer;
}
