
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

@font-face {
	font-family: "Avenir";
	src: url("fonts/avenir/avenir_roman-webfont.woff") format("woff")
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}
.head-bar {
	height: 45px;
	width: 300px;
	color: black;
	background-color: #1569C7;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

h1{
	font-size: 30px;
}

.button{
	position:relative;
	display: block;
	height: 22px;
	width: 60px;
	background: gray;
	border: 2px solid black;
	bottom: 48px;
	left: 6px;
	text-decoration: none;
	
	color: black;
	text-align: center;
	font: bold 3.2em/100px
	}
.inputf{
	position:relative;
	height:275px;
	top: 85px;
	text-align: center;
}
	


