body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

@font-face {
	font-family: "Avenir";
	src: url("fonts/avenir/avenir_roman-webfont.woff") format("woff")
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar
{
	height: 45px;
	width: 300px;
	color: white;
	background-color: #1569C7;
	text-align: center;
}

h1{
	font-size: 30px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
	position: relative;
	top: 150px;
	left: 50px;
  display: block;
  width: 250px;
  height: 250px;
}

.overlay {
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 50px;
  right: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}
