/* Personal Habits */

body
{
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;

}

#screen
{
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

h1
{
	position: relative;
  text-align: center;
}

.head-bar
{
	height: 45px;
	width: 300px;
	background-color: #1569C7;

}

/*
.back-button
{
  position: relative;
	top: -35px;
	left: 10px;
  cursor: pointer;
}
*/

/*
.newTask
{
  position: relative;
  top: -60px;
  left: 260px;
  width: 58px;
  height: 40px;
  background-image: url(images/list.png);
  background-size: 50%;
  background-repeat: no-repeat;
  transform: translate(5%, -7.5%);
  cursor: pointer;
}
*/

.albums-album-wrapper
{
	width: 300px;
	height: 485px;
}

.albums-album-art
{
	width: 200px;
	height: 200px;
	background-image: url(images/piechart.jpg);
	background-size: 100%;
	position: relative;
	top: 10px;
	left: 50px;
}

.albums-album-name
{
  position: relative;
  top: 200px;
	left: -30px;
}

.completed
{
  position: relative;
	top: -240px;
	left: 20px;
	text-align: centre;
}

.pending
{
  position: relative;
	top: -323px;
	left: 175px;
	text-align: centre;
}

h5
{
  position: relative;
  top:30px;
  left: 20px;
}

.home-screen-icons
{
  position: relative;
	top: -70px;
	left: 5px;
}

.icon1
{
  position: relative;
  top: -160px;
	left: 0px;
  float : left;
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  background-image: url(images/punctuality.png);
  background-size: 70%;
  background-repeat: no-repeat;
  transform: translate(5%, -25%);
  cursor: pointer;
  }
/*
.icon2
{
  position: relative;
  top: -160px;
	left: 0px;
  float : left;
  width: 58px;
  height: 40px;
  background: transparent;
  border: none;
  background-image: url(images/calendar.png);
  background-size: 55%;
  background-repeat: no-repeat;
  transform: translate(15%, 10%);
  cursor: pointer;
}
*/
.icon2
{
  position: relative;
  top: -160px;
	left: 10px;
  float : left;
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  background-image: url(images/add.png);
  background-size: 50%;
  background-repeat: no-repeat;
  transform: translate(10%, -10%);
  cursor: pointer;
}
/*
.icon4
{
  position: relative;
  top: -160px;
	left: 0px;
  float : left;
  width: 58px;
  height: 40px;
  background: transparent;
  border: none;
	background-image: url(images/settings.png);
  background-size: 65%;
  background-repeat: no-repeat;
  transform: translate(20%, 10%);
  cursor: pointer;
}
*/
.icon3
{
  position: relative;
  top: -160px;
	left: 120px;
  float : left;
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
	background-image: url(images/reminder.png);
  background-size: 60%;
  background-repeat: no-repeat;
  transform: translate(-90%, -13%);
  cursor: pointer;
}
